<section id="projects" aria-label="Projects">

    <h1 class="center padding-bottom-sm padding-top-lg">Projects</h1>
    <div class="js-project">
        <div class="cards" aria-label="Projects">
            {% for project in projects %}
                <div class="card">
                    <div class="head">
                        <img src="{{ project.image }}" alt="{{ project.name }}">
                    </div>

                    <div class="body">
                        <div class="about-project">
                            <h1 class="padding-bottom-xsm">{{ project.name | title }}</h1>
                            <p> {{ project.description }} </p>
                        </div>

                        <div class="footer">
                            <h1 class="padding-top-xsm">Technologies Used</h1>
                            <ul class="ul-technologies padding-bottom-xsm">
                                {% for language in project.get_languages %}
                                    <li>{{ language }}</li>
                                {% endfor %}
                                
                            </ul>
                            <div class="view">
                                <div class="buttons">
                                    <a href="{{ project.github_url }}" target="_blank"
                                        rel="noopener noreferrer"
                                        class="button-md view-repo green-bg color-white">View Github code repo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="button center padding-top-md">
            <a href="" class="view-more-btn green-bg color-white">View more</a>
        </div>
    </div>
</section>