
<section id="contact-me" aria-labelledby="contact-me-heading">
    <div class="container">

        {% if questions %}
            <div class="header">
                <p class="title" id="contact-me-heading">Contact Me</p>
            </div>

            <div class="questions" aria-label="Contact Me Questions">
                
                {% for question in questions %}
               
                    <div class="question">
                        <div class="question-container flex-space-between">
                            <a class="question-link" aria-expanded="false" aria-controls="question1-answer">How can I
                                get in touch with you?</a>
                            <img src="static/img/icons/svg/caret-right.svg" alt="The caret down sign"
                                class="caret-down">
                        </div>
        
                        <div class="answer-container" id="question1-answer" aria-hidden="true">
                            <p class="answer">
                                You can send me a message by clicking the <a href="mailto:egbieuku@hotmail.com"
                                    class="bold">send email link</a>
        
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
           
    </div>
</section>