{% load static %}

<!-- The general information section -->

{% if general_information_faq %}
    <section id="general-Information" aria-labelledby="general-info-heading">
        <div class="container">
            <div class="header">
                <p class="title">General Information</p>
            </div>

            <div class="questions" aria-label="Frequently Asked Questions">

                {% for faq in general_information_faq %}
                    <div class="question">
                        <div class="question-container flex-space-between">
                            <a class="question-link" aria-expanded="false" aria-controls="question{{ forloop.counter }}-answer"> {{ faq.question | title }} </a>
                            <img src="{% static '/img/icons/svg/caret-right.svg' %}" alt="The caret down sign" class="caret-down">
                        </div>

                        <div class="answer-container" id="question{{ forloop.counter }}-answer" aria-hidden="true">
                           {{ faq.answer | safe }}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}