{% load static %}

<!-- The contact information section -->

{% if hobbies_faq %}

    <section id="hobbies" aria-labelledby="hobbies-heading">
        <div class="container">
            <div class="header">
                <p class="title">Hobbies and other interests</p>
            </div>

            <div class="questions" aria-label="Hobbies_questions">

                {% for faq in hobbies_faq %}
                    <div class="question">
                        <div class="question-container flex-space-between">
                            <a class="question-link" aria-expanded="false" aria-controls="question{{ forloop.counter }}-answer"> {{ faq.question | title }} </a>
                            <img src="{% static '/img/icons/svg/caret-right.svg' %}" alt="The caret down sign" class="caret-down">
                        </div>

                        <div class="answer-container" id="question{{ forloop.counter}}-answer" aria-hidden="true">
                           {{ faq.answer | safe }}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}



