<!-- The frameworks, languages that can be searched by the user -->
<div id="search">
    <div class="container">
        <form action="/" method="post" id="search-form" aria-label="Project Search Form">
            {% csrf_token %}
            <!-- search by project name -->
            <div class="box">
                {{ search_form.name.label }}
                {{ search_form.name }}

            </div>

            <!-- search by languages -->
            {% if search_form.frontend_lang %}
            <div class="languages" aria-label="Programming Languages and Frameworks">
                <p class="padding-top-xsm">FrontEnd Languages</p>
                <div class="frontend-language grid-box" aria-label="FrontEnd Languages">
                    {% for frontend_lang in search_form.frontend_lang %}
                    <div class="box">
                        {{ frontend_lang }}
                    </div>

                    {% endfor %}
                </div>
                {% endif %}

                {% if search_form.backend_lang %}
                <p class="padding-top-xsm">BackEnd Languages</p>
                <div class="backend-language grid-box" aria-label="BackEnd Languages">
                    {% for backend_lang in search_form.backend_lang %}
                    <div class="box">
                        {{ backend_lang }}
                    </div>
                    {% endfor %}

                </div>
                {% endif %}

                {% if search_form.framework %}
                <p class="padding-top-xsm">Frameworks</p>
                <div class="backend-language grid-box" aria-label="Frameworks">

                    {% for framework in search_form.framework %}
                    <div class="box">
                        {{ framework }}
                    </div>
                    {% endfor %}

                </div>

                {% endif %}

                <!-- search by other packages -->
                {% if search_form.libraries %}
                <p class="padding-top-xsm">Others / Libraries / Packages</p>
                <div class="frameworks grid-box" aria-label="Others / Libraries / Packages">

                    {% for library in search_form.libraries %}
                    <div class="box">
                        {{ library }}
                    </div>
                    {% endfor %}

                </div>
                </div>
            {% endif %}

            <!-- search by if it has website, doesn't or a combination -->
            <div class="box padding-bottom-xsm">
                <label for="has-website">Has website</label>
                {% for choice in search_form.have_website %}
                     {{ choice }}
                {% endfor %}
            </div>


            <!-- keywords -->
            <div class="box padding-bottom-xsm">
                {{ search_form.keywords.label }}
                {{ search_form.keywords }}
            </div>

            <div class="search-by-date padding-bottom-xsm" aria-label="Date Range">
                <div class="from-date">
                    {{ search_form.from_date.label }}
                    {{ search_form.from_date }}
                </div>

                <div class="to-date">
                    {{ search_form.to_date.label }}
                    {{ search_form.to_date }}
                </div>
            </div>

            <!-- The results to display per page -->

            <div class="box padding-top-xsm">
                {{ search_form.result_per_page.label }}
                {{ search_form.result_per_page }}
            </div>


            <!-- sort by the latest or oldest -->
            <div class="box padding-top-xsm">
                {{ search_form.sort_by.label }}
                {{ search_form.sort_by }}
            </div>

            <!-- Sort by the project status e.g completed, Uncompleted or in progress -->
            <div class="box padding-top-xsm">
                {{ search_form.progress_status.label }}
                {{ search_form.progress_status }}

            </div>

            <div class="buttons">
                <button type="reset" class="reset-btn red-bg color-white reset-btn">Reset</button>
                <button type="submit" class="search-btn green-bg color-white">Search</button>
            </div>
        </form>

    </div>
</div>