  <!-- The navigation section -->
  <nav aria-label="Site Navigation">
    <div class="container blue-bg font-xl poppins-regular padding-top-xsm padding-bottom-xsm color-white">

        <div class="nav-logo">
            <a href="index.html" class="nav-link" aria-label="Portfolio">Portfolio</a>
        </div>

        <div class="nav-body" aria-label="Navigation Links">
            <a href="#general-Information" class="nav-link">General Information</a>
            <a href="#aboutme" class="nav-link">About Me</a>
            <a href="#contact-me" class="nav-link">Contact Me</a>
            <a href="#hobbies" class="nav-link">Hobbies</a>
        </div>
    </div>
</nav>