{% load static %}

<section id="skills" aria-label="Skills">
           
    <div class="skills-img center">
        <img src="static/img/png/Technical skills.png" alt="Technical Skills Image" class="technical-skill-img">
    </div>

    <h3 class="center padding-bottom-sm">Language, Frameworks and Tools</h3>

    <div class="cards" aria-label="Language, Frameworks and Tools">

        <div class="card" aria-label="HTML">
            <div class="header">
                <img src="static/img/icons/svg/file-type-html.svg" alt="HTML Icon" srcset="" class="skill-icon">
            </div>
            <div class="body">
                <p>HTML</p>
            </div>
        </div>

        <div class="card" aria-label="CSS">
            <div class="header">
                <img src="static/img/icons/svg/css-3.svg" alt="CSS Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>CSS</p>
            </div>
        </div>

        <div class="card" aria-label="JavaScript">
            <div class="header">
                <img src="static/img/icons/svg/javascript-js.svg" alt="JavaScript Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>JavaScript</p>
            </div>
        </div>

        <div class="card" aria-label="Node.js">
            <div class="header">
                <img src="static/img/icons/svg/node-js.svg" alt="Node.js Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>Node.js</p>
            </div>
        </div>

        <div class="card" aria-label="Express.js">
            <div class="header">
                <img src="static/img/icons/svg/nodejs.svg" alt="Express.js Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>Express.js</p>
            </div>
        </div>

        <div class="card" aria-label="Python">
            <div class="header">
                <img src="static/img/icons/svg/python (1).svg" alt="Python Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>Python</p>
            </div>
        </div>

        <div class="card" aria-label="Django">
            <div class="header">
                <img src="static/img/icons/svg/django (1).svg" alt="Django Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>Django</p>
            </div>
        </div>

        <div class="card" aria-label="Python Flask">
            <div class="header">
                <img src="static/img/icons/svg/flask.svg" alt="Python Flask Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>Python Flask</p>
            </div>
        </div>

        <div class="card" aria-label="GitHub">
            <div class="header">
                <img src="static/img/icons/svg/gitlab (1).svg" alt="GitHub Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>Github</p>
            </div>
        </div>

        <div class="card" aria-label="GitHub">
            <div class="header">
                <img src="static/img/icons/svg/postman.svg" alt="GitHub Icon" class="skill-icon">
            </div>
            <div class="body">
                <p>Postman</p>
            </div>
        </div>

    </div>

</section>