{% load  static %}

<section id="call-to-action">
    <div class="container padding-bottom-sm">

        <div class="container">
            <div class="icons flex-col padding-top-lg madimi-one-regular" aria-label="Main Navigation">
                <div class="home-icon">
                    <a href="#" aria-label="Home" id="call-to-action">
                        <img src="{% static 'img/icons/svg/home-outline.svg' %}" alt="Home Icon" class="icon">
                        <span class="menu-item hide-item">Home</span>
                    </a>
                </div>
                <div class="about-me-icon">
                    <a href="#about-me" aria-label="About">
                        <img src="{% static 'img/icons/svg/help-about.svg' %}" alt="About Icon" class="icon">
                        <span class="menu-item hide-item">About</span>
                    </a>
                </div>

                <div class="skills-icon">
                    <a href="#skills" aria-label="Skills">
                        <img src="{% static 'img/png/computers-33039_1920.png' %}" alt="Skills Icon" class="icon">
                        <span class="menu-item hide-item">Skills</span>
                    </a>
                </div>

                <div class="projects-icon">
                    <a href="#projects" aria-label="Projects">
                        <img src="{% static '/img/icons/svg/projects.svg' %}" alt="Projects Icon" class="icon">
                        <span class="menu-item hide-item">Projects</span>
                    </a>
                </div>

                <div class="contact-me-icon">
                    <a href="mailto:egbieuku@hotmail.com" aria-label="Contact" class="contact-me">
                        <img src="{% static '/img/icons/svg/email.svg' %}" alt="Contact Icon" class="icon">
                        <span class="menu-item hide-item">Contact</span>
                    </a>
                </div>
            </div>
            <div class="info">
                <h1 class="poppins-thin font-lg">Egbie Uku</h1>
                <span id="animated-text" class="color-white"></span>
            </div>

            <div class="image">
                <img src="{% static '/img/png/computers-33039_1920.png' %}" alt="computer image" class="call-to-action-img">
            </div>
        </div>
    </div>
</section>
